@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<div class="text-center">
    <h1 class="display-4">Welcome Parcial Acc</h1>
    <h4>Segundo Examen Parcial</h4>
    <h4>Carnet: 2015CG604</h4>
    <h4>Nombre: Luis Leonardo Contreras Galdamez</h4>

</div>

<div class="gallery">

    <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="https://2015cg604storage.blob.core.windows.net/gallery/img1.jpg">
            <img src="https://2015cg604storage.blob.core.windows.net/gallery/img1.jpg" alt="img1" width="150" height="150" />
        </a>
    </div>
    <br>
    <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="https://2015cg604storage.blob.core.windows.net/gallery/img2.jpg">
            <img src="https://2015cg604storage.blob.core.windows.net/gallery/img2.jpg" alt="img2" width="150" height="150" />
        </a>
    </div>
    <br>
    <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="https://2015cg604storage.blob.core.windows.net/gallery/img3.jpg">
            <img src="https://2015cg604storage.blob.core.windows.net/gallery/img3.jpg" alt="img3" width="150" height="150" />
        </a>
    </div>
    <br>
    <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="https://2015cg604storage.blob.core.windows.net/gallery/img4.jpg">
            <img src="https://2015cg604storage.blob.core.windows.net/gallery/img4.jpg" alt="img4" width="150" height="150" />
        </a>
    </div>
    <br>
    <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="https://2015cg604storage.blob.core.windows.net/gallery/img5.jpg">
            <img src="https://2015cg604storage.blob.core.windows.net/gallery/img5.jpg" alt="img5" width="150" height="150" />
        </a>
    </div>
    <br>
</div>
<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>