@{
    ViewData["Title"] = "Home Page";
}
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Gallery Templates</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
        <link rel="stylesheet" href="gallery-grid.css">


    </head>
<div class="text-center">
    <h1 class="display-4">Welcome Parcial Acc</h1>
    <h4>Segundo Examen Parcial</h4>
    <h4>Carnet: 2015CG604</h4>
    <h4>Nombre: Luis Leonardo Contreras Galdamez</h4>

</div>

<div class="gallery">

    <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="https://2015cg604storage.blob.core.windows.net/gallery/img1.jpg">
            <img src="https://2015cg604storage.blob.core.windows.net/gallery/img1.jpg" alt="img1" width="150" height="150" />
        </a>
    </div>
    <br>
    <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="https://2015cg604storage.blob.core.windows.net/gallery/img2.jpg">
            <img src="https://2015cg604storage.blob.core.windows.net/gallery/img2.jpg" alt="img2" width="150" height="150" />
        </a>
    </div>
    <br>
    <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="https://2015cg604storage.blob.core.windows.net/gallery/img3.jpg">
            <img src="https://2015cg604storage.blob.core.windows.net/gallery/img3.jpg" alt="img3" width="150" height="150" />
        </a>
    </div>
    <br>
    <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="https://2015cg604storage.blob.core.windows.net/gallery/img4.jpg">
            <img src="https://2015cg604storage.blob.core.windows.net/gallery/img4.jpg" alt="img4" width="150" height="150" />
        </a>
    </div>
    <br>
    <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="https://2015cg604storage.blob.core.windows.net/gallery/img5.jpg">
            <img src="https://2015cg604storage.blob.core.windows.net/gallery/img5.jpg" alt="img5" width="150" height="150" />
        </a>
    </div>
    <br>
</div>




